{% extends 'basic.html' %}
{% load static %}

{% block body %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="{% static 'images/im7.avif' %}" alt="">
            <h2>Our Certificate & Online Program</h2>
            <p>"Our blog is your go-to resource for the latest trends, tips, and insights in the world of coding. Whether you're a seasoned developer or just starting out, our expert contributors share their knowledge and experience to help you stay ahead of the curve. From programming languages to industry news, our blog has something for everyone."</p>
            <br>
            <p>"In addition to our team of expert contributors, our blog features guest posts from top developers and thought leaders in the field. You'll gain valuable insights and perspectives from a diverse range of voices and experiences. Join our community of learners and stay up-to-date with the latest in coding and technology through our engaging and informative blog."</p>
        </div>
        <div class="blog-right">
            <h3>Categories</h3>
            <div>
                <span>C-Programming</span>
                <span> <i class="fa-solid fa-star"></i></span>
            </div>
            <div>
                <span>C++</span>
                <span> <i class="fa-solid fa-star"></i></span>
            </div>
            <div>
                <span>Java</span>
                <span> <i class="fa-solid fa-star"></i></span>
            </div>
            <div>
                <span>JavaScript</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>Python</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>Android Development</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>Web Development</span>
                <span> <i class="fa-solid fa-star"></i></span>
            </div>
            <div>
                <span>Machine Learning</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>Cloud Computing</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>Artificial Intelligence</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>Django</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>SQL</span>
                <span> <i class="fa-solid fa-star"></i></span>
            </div>
            <div>
                <span>MERN FullStack</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
            <div>
                <span>Cyber Security</span>
                <span> <i class="fa-solid fa-star-half-stroke"></i></span>
            </div>
        </div>
    </div>
</section>

{% endblock %}