{% extends 'basic.html' %}
{% load static %}

{% block body %}

<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.7004392402448!2d76.88285479683212!3d12.529288291708891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bafa0de6e35587f%3A0xf04bf9c0bfc6958c!2sMandya%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1678809433576!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<section class="contact-us">
    <div class="row">
        <div class="contact-col">
            <div>
                <i class="fa-solid fa-house"></i>
                <span>
                    <h5>XYZ Road, ABC Building</h5>
                    <p>Mandya,Karnataka,IN</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-phone"></i>
                <span>
                    <h5>+91 1234567890</h5>
                    <p>Monday to Saturday, 10AM to 6PM </p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>
                <span>
                    <h5>PrimeAcademy@gmail.com</h5>
                    <p>Emai us your query</p>
                </span>
            </div>
        </div>
        <div class="contact-col">

            <form action="/contact/" method="post">{% csrf_token %}
                <input type="text" placeholder="Enter your Name" name="name">
                <input type="email" placeholder="Enter your Email" name="email">
                <input type="text" placeholder="Enter your Subject" name="sub">
                <textarea name="msg" id="" cols="30" rows="8" placeholder="Message" ></textarea>
                <button class="hero-btn red-btn" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</section>


{% endblock %}