{% extends 'basic.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/courseview.css' %}">
 {% endblock %}
{% block body %}
<div class="buynow">
    <section class="background">
        <main class="buy">
            <form action="/enroll/{{course.sno}}/" method="post">{% csrf_token %}
                <div >
                    <input type="text" name="name" id="" placeholder="Name">
                </div>
                <div >
                    <input type="text" name="email" id="" placeholder="Email">
                </div>
                <div >
                    <input type="text" name="price" id="" placeholder="{{course.price}}" disabled>
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        </main>
        </section>
        <section class="product">
            <div class="prod-view">
                <img src="{{ course.image.url }}" alt="">
            </div>
            <div class="prod-details">
                <h2>{{course.name}}</h2>
                <p>{{course.description}}</p>
                <h2>&#8377; {{ course.price }}</h2>
            </div>
        </section>

    </div>

{% endblock %}