.buynow{
    width: 90vw;
    display: flex;
    margin: auto;
    margin-top: 2rem;
}
.buy{
    width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: #fff;
    margin-left: 1rem;
    
}
.background{
  padding: 1rem 0 ;
}
.buy div{
    margin: 2rem 0;
    display: flex;
}
.buy form div input,select{
    flex: 1;
    margin: 0 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
}
.btn {
  background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      transition: background-color 0.2s ease-in-out;
}
    
.btn:hover{
      background-color: #0056b3;
    }


.product{
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 1rem;
    }
    
    .prod-view{
       margin: 1rem 4rem;
    }
    .prod-details h2,p,a{
        margin: 1rem 4rem;
    }
    .prod-view img{
        height: 40vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .prod-details h2{
        font-size: 1.4rem;
    }
    .prod-details p{
        font-size: 1rem;
    }
    
    